<%= form_for @wificheck, as: :wificheck, url: wifitrackers_path do |f| %>
     <% if @error && @error.present? %>
     <div class="error">
     <%= @error %></div>
     <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.label :select_date, :class =>"form-group form-group-bottom"%>  <br> 
    <%= f.text_field :to_date, :id => "date" %><br><br>
       <i class="fa fa-calendar"></i>
    <%= f.label :Select_your_wifi_quality, :class =>"form-group form-group-bottom" %>  <br>
    <% @ratings.each do |rating| %>
    <%= f.radio_button 'rating_id',rating.id%>  
    <%= rating.name %> <br>
    <% end %><br>

    <%= f.label :Select_your_wifi_name, :class =>"form-group form-group-bottom" %><br>
    <% @routers.each do |router| %>
    <%= f.radio_button 'router_id',router.id%>  
    <%= router.name %> <br>
    <% end %>

    <%= f.submit "submit", class: "btn btn-large btn-primary btn-align" %>
<% end %>

